@import './utils/setup-box-sizing.css';
@import './pages/start-page.css';
@import './pages/jazz-club.css';
@import './pages/metal-club.css';
@import './pages/create-club.css';

:root {
  --def-background: rgb(255, 0, 208);
  --def-color: blue;
  --site-font: Georgia, serif;
}


body {
  margin: 20px;
  color: var(--def-color);
  font-family: var(--site-font);
}

.pet {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 20px;
}